/* Standard CSS of LH 
20110519    New     -.GridContainer .FixedGridRowTitle .FixedGridColumnTitle .FixedGridColumnData 
20110601    Update  -.gridview and datagrid has same outlook  
20110610    New     -.AlignTop
20110914    New     -.pageContaineriFrame
                    - .font12vc1
20120611    New     -Add LSLIBWebBased.css
20130218    Update  -Add LSStandard CSS
*/ 


.BackColor { 
    background-color: #DCE6FF; 
} 

/* Nav Menu - Navigationbar.ascx */ 
#LSProjectLanguage { 
    float: right; 
    font-size: 12px; 
    line-height: 24px; 
    padding: 0 5px; 
    text-align: right; 
} 
#LSProjectLanguage ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
#LSProjectLanguage li { 
    color: #FFFFFF; 
    display: inline; 
} 
.nav li { position: relative } 
#LSProjectLanguage a { 
    color: #FFFFFF; 
    padding: 0 5px; 
} 
#LSProjectLanguage a:hover { 
    color: orange; 
    text-decoration: underline; 
} 


/* LSProjectHeader - LSPageHeader.ascx */
.tblLSProjectHeader { 
    border-collapse: collapse; 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    width: 100%; 
    white-space: normal; 
}

.LSProjectLogo { 
    text-align: left; 
    padding: 5px 5px; 
    width: 50px; 
 }

#LSProjectHeader { 
    border-bottom: 1px solid #69C; 
    background-color: #369; 
    color: #fff; 
} 

#LSProjectTitle { 
    text-align: left;
    font-weight: bold; 
    font-size: 20px;
} 
/* Nav Menu - Navigationbar.ascx */ 
#ProjectLanguage { 
    float: right; 
    font-size: 12px; 
    line-height: 24px; 
    padding: 0 5px; 
    text-align: right; 
} 
.nav { 
    background-color: #5e9300; 
    font-size: 12px; 
    height: 24px; 
    line-height: 24px; 
    text-align: right; 
} 
.nav ul, 
#ProjectLanguage ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
.nav li, 
#ProjectLanguage li { 
    color: #FFFFFF; 
    display: inline; 
} 
.nav li { position: relative } 
#ProjectLanguage a { 
    color: #FFFFFF; 
    padding: 0 5px; 
} 
#ProjectLanguage a:hover { 
    color: orange; 
    text-decoration: underline; 
} 
.nav li a { 
    color: #FFFFFF; 
    font-size: 13px; 
    padding: 0 5px; 
    text-decoration: none; 
} 
.nav li a:hover { 
    color: orange; 
    text-decoration: none; 
} 
.nav li ul { display: none } 
.nav li.on ul { 
    background-color: #FFFFFF; 
    border: solid 1px #5e9300; 
    border-bottom: none; 
    border-collapse: collapse; 
    display: block; 
    left: 5px; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    position: absolute; 
    text-align: left; 
    top: 18px; 
    white-space: nowrap; 
    z-index: 50; 
} 
.nav li.on li a { 
    border-bottom: 1px solid #5e9300; 
    color: #666; 
    display: block; 
    font-size: 12px; 
    height: 21px; 
    line-height: 21px; 
    text-decoration: none; 
} 
.nav li.on li a:hover { background-color: #FEF3D1 } 
.nav li.on li span { 
    font-size: 12px; 
    padding: 2px; 
    cursor: pointer; 
} 
.nav span { 
    font-size: 13px; 
    padding: 5px; 
    cursor: default; 
} 
.nav span:hover { 
    color: orange; 
    text-decoration: none; 
} 


/* ProjectHeader - LSPageHeader.ascx */
.tblProjectHeader { 
    border-collapse: collapse; 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    width: 100%; 
    white-space: normal; 
}

.ProjectLogo { 
    text-align: left; 
    padding: 5px 5px; 
    width: 50px; 
 }

#ProjectHeader { 
    border-bottom: 1px solid #69C; 
    background-color: #369; 
    color: #fff; 
} 

#ProjectTitle { 
    text-align: left;
    font-weight: bold; 
    font-size: 20px;
} 

#ProjectLanguage { 
    float: right; 
    font-size: 12px; 
    line-height: 24px; 
    padding: 0 5px; 
    text-align: right; 
} 

/* PageHeader - LSPageHeaderClosePrint.ascx */
.tblPageHeader { 
    border-collapse: collapse; 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    width: 100%; 
    white-space: normal; 
} 
.PageLogo { 
text-align: left; 
padding: 5px 5px; 
width: 50px; 
}

.PageCloseAndPrint { 
    margin: 0 5px; 
    padding: 0 5px; 
    text-align: right; 
    width: 80px; 
} 

/* text-align */ 

.textLeft { text-align: left } 
.textRight { text-align: right } 
.textCenter { text-align: center ;
                  margin: auto;
} 
.textTop { vertical-align: top } 
.textMiddle { vertical-align: middle } 
.textBottom { vertical-align: bottom } 




/***************************************************************************/
/***************************************************************************/
/***************************************************************************/

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}
div#location, div#distance {
	padding: 5px;
}

div#map {
	margin: 5px;
	width: 400px;
	height: 400px;
	border: 1px solid black;
}




 .font12vc1 {font-family:verdana; font-size:12px; line-height:140%; color:#666666;}
 
.AlignTop { 
    vertical-align: top; 
} 

.radionButtonList td { width: 10% } 
.pageLogo { 
    text-align: left; 
    padding: 5px 5px; 
    width: 80px; 
 }

.GridContainer
{
    width: 800px;
    height: 600px;
    overflow: auto;
} 

.FixedGridRowTitle   
{   
    position: relative;    
    table-layout:fixed;
    top: expression(this.offsetParent.scrollTop);
    z-index: 10;   
}   

.FixedGridRowTitle th
{
    overflow:hidden;
    white-space: nowrap;
}
   
.FixedGridColumnTitle  
{   
    position: relative;    
    left: expression(this.parentElement.offsetParent.scrollLeft);   
}   
   
.FixedGridColumnData  
{   
    position: relative;   
    left: expression(this.parentElement.offsetParent.offsetParent.scrollLeft);  
    background-color:White; 
} 

.pageCloseAndPrint { 
    margin: 0 5px; 
    padding: 0 5px; 
    text-align: right; 
    width: 80px; 
} 
.pageContainerUpper
{
    margin: 0px auto 0px auto;
    padding: 0;
    width: 800px;
} 
.pageContainerLower
{
    margin: 0px auto 0px auto;
    padding: 0;
    width: 1024px;
} 
.pageContainer
{
    margin: 0px auto 0px auto;
    padding: 0;
    width: 800px;
    position: relative;
} 
.pageContaineriFrame
{
    height: 100%;
    padding: 0;
    width: 900px;
} 
.pageContainerLarge
{
    height: 100%;
    margin: 0px auto 0px auto;
    padding: 0;
    width: 1000px;
    position: relative;
} 
.pageCloseAndPrint { 
    margin: 0 5px; 
    padding: 0 5px; 
    text-align: right; 
    width: 80px; 
} 
.tblGlobal { 
    height: 152px; 
    margin-left: -1px; 
    vertical-align: top; 
    margin-bottom: 0px; 
} 
.tblGlobal th { 
    background-color: #DCE6FF; 
    font-weight: normal; 
} 
.tblGlobal td { 
    margin: 0; 
    padding-top: 0; 
    padding-right: 0; 
    padding-bottom: 0; 
} 
.tblGloballeft { 
    border-right: solid 1px #369; 
    margin: 0; 
    padding: 0; 
    text-align: left; 
    vertical-align: top; 
    width: 12%; 
    height: 600px; 
} 
.tblGloballeft2 { 
    border-right: solid 1px #369; 
    margin: 0; 
    padding: 0; 
    text-align: left; 
    vertical-align: top; 
    width: 130px; 
    height: 600px; 
} 
.tblGlobalRight { 
    vertical-align: top; 
    width: 100%; 
} 
.tblGlobalSearch { 
    background-color: #DCE6FF; 
    font-size: 12px; 
    height: 24px; 
    line-height: 24px; 
    padding: 1px 5px 0; 
    text-align: right; 
} 
.tblGlobalSearch input[type="text"] { 
    margin: 0 5px; 
    width: 200px; 
} 
.tblGlobalSiteMapPath { 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    line-height: 24px; 
    padding-left: 5px; 
    float:left;
} 
/* Layout styles */ 
html, 
body, 
form { 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
} 
#container { 
    height: 100%; 
    margin: 0 auto; 
    padding: 0; 
} 
#header, 
#headerBackColor { 
    border-bottom: 1px solid #69C; 
    height: 60px; 
} 
#headerBackColor { 
    background-color: #369; 
    color: #fff; 
} 
#left { 
    border-right: solid 1px #369; 
    margin: 0; 
    padding: 0; 
    text-align: left; 
    vertical-align: top; 
    width: 16%; 
} 
#logo { 
    float: left; 
    padding: 5px 5px; 
} 
#logo1 { 
    text-align: left; 
    padding: 5px 5px; 
} 
#title { 
    float: left; 
    font-size: 20px; 
    font-weight: bold; 
    padding-top: 20px; 
} 
.column { 
    background-color: #69c; 
    border-bottom: solid 1px #369; 
    color: #fff; 
    font-size: 13px; 
    height: 24px; 
    line-height: 24px; 
    width: 100%; 
} 
.column img { margin-bottom: -3px } 
.column table { 
    width: 100%; 
    vertical-align: middle; 
} 
.fixed { width: 760px } 
.fixed1024 { width: 1024px } 
#search { 
    background-color: #E9F2FF; 
    font-size: 12px; 
    height: 24px; 
    line-height: 24px; 
    padding: 1px 5px 0; 
    text-align: right; 
} 
#search input[type="text"] { 
    margin: 0 5px; 
    width: 200px; 
} 
#siteMapPath { 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    line-height: 24px; 
    padding-left: 5px; 
} 
/* Nav Menu - Navigationbar.ascx */ 
#language { 
    float: right; 
    font-size: 12px; 
    line-height: 24px; 
    padding: 0 5px; 
    text-align: right; 
} 
.nav { 
    background-color: #69C; 
    border-bottom: 2px solid #369; 
    font-size: 12px; 
    height: 24px; 
    line-height: 24px; 
    text-align: right; 
} 
.nav ul, 
#language ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
.nav li, 
#language li { 
    color: #FFFFFF; 
    display: inline; 
} 
.nav li { position: relative } 
#language a { 
    color: #FFFFFF; 
    padding: 0 5px; 
} 
#language a:hover { 
    color: orange; 
    text-decoration: underline; 
} 
.nav li a { 
    color: #FFFFFF; 
    font-size: 13px; 
    padding: 0 5px; 
    text-decoration: none; 
} 
.nav li a:hover { 
    color: orange; 
    text-decoration: none; 
} 
.nav li ul { display: none } 
.nav li.on ul { 
    background-color: #FFFFFF; 
    border: solid 1px #69C; 
    border-bottom: none; 
    border-collapse: collapse; 
    display: block; 
    left: 5px; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    position: absolute; 
    text-align: left; 
    top: 18px; 
    white-space: nowrap; 
    z-index: 50; 
} 
.nav li.on li a { 
    border-bottom: 1px solid #69C; 
    color: #666; 
    display: block; 
    font-size: 12px; 
    height: 21px; 
    line-height: 21px; 
    text-decoration: none; 
} 
.nav li.on li a:hover { background-color: #FEF3D1 } 
.nav li.on li span { 
    font-size: 12px; 
    padding: 2px; 
    cursor: pointer; 
} 
.nav span { 
    font-size: 13px; 
    padding: 5px; 
    cursor: default; 
} 
.nav span:hover { 
    color: orange; 
    text-decoration: none; 
} 
/* Sidebar */ 
.sidebar { 
    border-top: 1px solid #cecece; 
    line-height: 24px; 
} 
.sidebar ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
.sidebar li { border-bottom: 1px solid #cecece } 
.sidebar li a { 
    color: #666; 
    display: block; 
    font-size: 12px; 
    padding-left: 15px; 
    text-decoration: none; 
} 
.sidebar li a:hover { 
    background-color: #FEF3D1; 
    color: orange; 
    text-decoration: underline; 
} 
/* Tag styles */ 
h1 { 
    font-size: 20px; 
    font-weight: bold; 
    margin: 0; 
    padding: 0; 
} 
img { border: 0 } 
a { 
    color: #377FAF; 
    text-decoration: none; 
} 
a:hover { 
    color: orange; 
    text-decoration: underline; 
} 
a:focus { outline: none } 
input, 
textarea, 
label, 
select, 
span { 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px;
    margin-bottom: 0px;
} 
textarea { overflow: auto } 
input[type="text"]:focus, 
textarea:focus { 
    border-color: #E8D098; 
    border-style: solid; 
} 
/* Table */ 
.table, 
.tableDynamic, 
.tableDynamicHover, 
.tableSeperate, 
.tblGlobal, 
#tblHeader, 
.FilesList, 
.radioList, 
.tblPageHeader { 
    border-collapse: collapse; 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    width: 100%; 
    white-space: normal; 
} 
.radioList { width: auto } 
.table, 
.tableDynamic, 
.tableDynamicHover { 
    line-height: 24px; 
    text-align: left; 
    white-space: normal; 
} 
.table { 
    border: 1px solid #69C; 
    border-collapse: collapse; 
    border-spacing: 0px; 
} 
.checkBoxList { 
    line-height: 24px; 
    text-align: left; 
    border-collapse: collapse; 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    width: 100%; 
} 
.thHeader { 
    border: 1px solid #69C; 
    margin: 0px; 
    background-color: #DCE6FF; 
    font-weight: normal; 
    padding: 0 5px; 
    text-align: center; 
    vertical-align: middle; 
} 
.table th, 
.tableDynamic th, 
.tableDynamicHover th { 
    background-color: #DCE6FF; 
    font-weight: normal; 
    padding: 0 5px; 
    text-align: left; 
    vertical-align: middle; 
} 
.table th.textCenter { 
    background-color: #DCE6FF; 
    font-weight: normal; 
    padding: 0 5px; 
    text-align: center; 
    vertical-align: middle; 
} 
.table th { border: 1px solid #69C } 
.tableDynamicHover tr:hover { 
    background: #FFFF99; /*鼠标高亮行的背景色*/ 
} 
.table td, 
.tableDynamic td, 
.tableDynamicHover th { padding: 0 5px } 
.table td { border: 1px solid #69C } 
.table td:hover { 
    background: #FFFF99; /*鼠标高亮行的背景色*/ 
} 
.table td textarea {
} 
.FilesList td, 
.radioList td { 
    border: none; 
    padding-left: 5px; 
    padding-right: 5px; 
} 
.width18 { width: 18px } 
.gridHeader { font-weight: bold } 
/* GridView */ 
.gridview, 
.datagrid, 
.gvFileList { 
    border: 1px solid #69C; 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    margin: 0px; 
    padding: 0; 
    width: 100%; 
} 
.datagrid { 
    white-space: normal; 
    table-layout: fixed; 
} 
.gvFileList { line-height: 24px } 
.gridviewNothing { 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    margin: 0px; 
    padding: 0; 
    width: 100%; 
    line-height: 24px; 
} 
.gridviewNothing td { padding: 0 5px } 
.gridviewNothing td span { padding: 0 5px } 
.gridviewNothing th { 
    padding: 0 5px; 
    border: 1px solid #69C; 
    background-color: #DCE6FF; 
    text-align: left; 
    font-weight: normal; 
} 
.gridviewNothing tr:hover { 
    background: #FFFF99; /*鼠标高亮行的背景色*/ 
} 
.gridviewHio { 
    border: 1px solid #69C; 
    font-family: Verdana,Arial,@仿宋_GB2312,System; 
    font-size: 12px; 
    margin: 0px; 
    padding: 0; 
    width: 100%; 
    line-height: 24px; 
} 
.gridviewHio td { padding: 0 5px ;
    vertical-align: text-top;} 
.gridviewHio td span { padding: 0 5px } 
.gridviewHio th { 
    padding: 0 5px; 
    border: 1px solid #69C; 
    background-color: #DCE6FF; 
    font-weight: normal; 
} 
.gridviewHio tr:hover { 
    background: #FFFF99; /*鼠标高亮行的背景色*/ 
} 
.gridview tr:hover, 
.datagrid tr:hover { 
    background: #FFFF99; /*鼠标高亮行的背景色*/ 
} 
.gridview th, 
.gridview td, 
.datagrid td { border: 1px solid #69C } 
.gridview th { line-height: 24px } 
.gridview th, 
.gridview td, 
.datagrid td { padding: 5px } 
.gridview th, 
.datagrid .header td { 
    background-color: #DCE6FF; 
    text-align: left; 
    font-weight: normal; 
} 

.gvFileList td { padding: 0 5px } 
.gvFileList td, 
.gvFileList tr, 
.gvFileList { 
    border: none; 
    border-color: White; 
} 

.alternatingRow { background-color: #ecf6fc } 
.pager { 
    border-left: 1px solid #69C; 
    border-bottom: 1px solid #69C; 
    border-right: 1px solid #69C; 
    font: 12px; 
    line-height: 25px; 
    padding-left: 5px; 
} 
.pager td { border: none } 
.pager a { font-size: 12px } 
.footer { 
    color: red; 
    text-align: right; 
} 
.gotoImg { 
    margin-bottom: -7px; 
    width: 22px; 
    height: 22px; 
} 
#imgbtnGoto { 
    margin-bottom: -4px; 
    width: 25px; 
    height: 20px; 
} 

/* Margin */ 
.marginTop { margin-top: 10px } 
/* padding */ 
.paddingV { 
    padding-bottom: 10px; 
    padding-top: 10px; 
} 
/* Width */ 
.width85 { width: 85% } 
.width90 { width: 90% } 
.width80 { width: 80% } 
.width100 { width: 100% } 
.width5 { width: 5% } 
.width8 { width: 8% } 
.width10 { width: 10% } 
.width12 { width: 12% } 
.width15 { width: 15% } 
.width20 { width: 20% } 
.width7 { width: 7% } 
.widthItemID { width: 125px } 
.widthDate { width: 65px } 
.widthShort { width: 45px } 
.widthDateEng { width: 80px } 
.width18 { width: 18% } 
.width28 { width: 28% } 
.width30 { width: 30% } 
.width35 { width: 35% } 
.width40 { width: 40% } 
.width50 { width: 50% } 
.width65 { width: 65% } 
.width70 { width: 70% } 
.width75 { width: 75% } 
.widthPercentFifteen { width: 15% } 
.widthPercentEighteen { width: 18% } 
.widthPercentTwenty { width: 20% } 
.widthPercentThirty { width: 30% } 
.widthPercentThirtyTwo { width: 32% } 
.widthPercentThirtyFive { width: 35% } 
/* float */ 
.floatLeft { float: left } 
.floatRight { float: right } 
.alignMiddle { 
    width: 100%; 
    vertical-align: middle; 
    text-align: center; 
} 
/* Others */ 
.asterisk { color: Red } 
#closeAndPrint { 
    margin: 0 5px; 
    padding: 0 5px; 
    text-align: right; 
} 
.hidden { display: none } 
.largeImg { 
    position: absolute; 
    cursor: pointer; 
    z-index: 55; 
} 
.sort { 
    color: #377FAF; 
    font-size: 14px; 
} 
.sort a:hover { 
    color: #377FAF; 
    text-decoration: none; 
} 
.searchTips { color: #999999 } 
.files { 
    position: absolute; 
    filter: alpha(opacity=0); 
    -moz-opacity: .0; 
    opacity: 0.0; 
} 
#processing { 
    position: absolute; 
    display: none; 
    height: 32px; 
} 
/*Validator tips*/ 
.tip-bg { 
    font-size: 12px; 
    position: absolute; 
    top: -26px; 
    left: -5px; 
    background: url(../images/tip_bg.gif) no-repeat right top; 
    font-weight: normal; 
    z-index: 99999; 
} 
.tip-bulb { 
    font-size: 12px; 
    background: url(../images/tip_bulb.gif) no-repeat left top; 
    padding: 4px 2px 10px 15px; 
    white-space: nowrap; 
    color: #000; 
    line-height: 100%; 
} 
.tip-close { 
    cursor: pointer; 
    color: Red; 
    font-size: 17px; 
} 
.div_panel { 
    border: solid 1px #6699cc; 
    margin-top: 10px; 
} 
.div_panel .div_title { 
    background-color: #DCE6FF; 
    height: 25px; 
    padding-left: 10px; 
    padding-right: 5px; 
} 
.div_title .floatRight { margin-top: 0px } 
.empty_text { 
    text-align: center; 
    color: Red; 
} 
#divSearch { 
    margin-top: 10px; 
    margin-bottom: -10px; 
} 
.dialog_title { 
    border: solid 1px #6699cc; 
    border-bottom: 0px; 
    height: 25px; 
    padding-left: 10px; 
    padding-right: 5px; 
} 
.sub_title { margin-left: 5px } 
.image_show { 
    width: 400px; 
    height: 300px; 
    text-align: center; 
    border: solid 2px #ece9d8; 
    left: 0; 
    top: 0px; 
    position: absolute; 
    display: none; 
    background-color: White; 
} 
.input_text { width: 250px } 
.display_none { display: none } 
/*uploadify*/ 
.fileUploadQueueItem { 
    font: 11px Verdana, Geneva, sans-serif; 
    background-color: #F5F5F5; 
    border: 3px solid #E5E5E5; 
    margin-top: 5px; 
    padding: 10px; 
    width: 300px; 
} 
.fileUploadQueueItem .cancel { float: right } 
.fileUploadProgress { 
    background-color: #FFFFFF; 
    border-top: 1px solid #808080; 
    border-left: 1px solid #808080; 
    border-right: 1px solid #C5C5C5; 
    border-bottom: 1px solid #C5C5C5; 
    margin-top: 10px; 
    width: 100%; 
} 
.fileUploadProgressBar { background-color: #0099FF } 
/*uploadify*/ 
.photo_list { 
    width: 145px; 
    height: 140px; 
} 
.image_table { border: none } 
.image_table td { border: none } 
.photo { 
    padding-bottom: 3px; 
    width: 100px; 
    height: 100px; 
} 
.photo_remark { 
    text-align: center; 
    font-size: 12px; 
} 
.textRight img { 
    cursor: pointer; 
    display: none; 
} 
.pager_num { margin-right: 5px } 
.float_left { 
    float: left; 
    margin: 2px 2px 0px 0px; 
} 
.no_border td { border: none } 
.mini_img { 
    width: 50px; 
    height: 50px; 
} 
.Grid_img { 
    width: 80px; 
    height: 80px; 
} 
.CustomValidatorCalloutStyle div, 
.CustomValidatorCalloutStyle td { 
    border: solid 1px blue; 
    background-color: #ADD8E6; 
} 
#header, 
#headerBackColor { 
    border-bottom: 1px solid #69C; 
    height: 60px; 
} 
#headerBackColor { 
    background-color: #369; 
    color: #fff; 
} 
.tableSeperate { 
    border-color: #69C; 
    border-style: solid; 
    border-width: 1px 0px 0px 0px; 
    line-height: 24px; 
} 
.watermarked { color: #999999 }
